/* Variables */
:root {
  --gradient-1: #f600ff;
  --gradient-2: #008cff;
  --woot: #10d02e;
  --grab: #7a44db;
  --meh: #f94c48;
  --main-black: #202020;
  --transparent-back: rgba(0, 0, 0, 0.65);
}

/* Developer rank */
#user-rollover.id-5383370 .username, #chat [data-cid^="5383370"] span.un.clickable,
#user-rollover.id-4664447 .username, #chat [data-cid^="4664447"] span.un.clickable {
  animation:rainbow 3s infinite;
}

@keyframes rainbow {
  0% {color: var(--gradient-1);}
  50% {color: var(--gradient-2);}
  100% {color: var(--gradient-1);}
}

/* Footer */
#footer {
	background: var(--transparent-back);
}
#playlist-button {
    background: linear-gradient(to bottom, var(--gradient-1) 0%,var(--gradient-2) 100%);
}
.app-header {
	background: var(--transparent-back);
}
#rs-skip-button {
    background: transparent !important;
}
#history-button {
    background: transparent;
}
.header-panel-button.selected {
	background: linear-gradient(to bottom,transparent 0,rgba(61, 61, 61, 0.35) 100%);
}

.chevron {
  display: none;
}

/* Upravení tlačítek */

#dj-button {
  background-color: var(--transparent-back);
  border-radius: 5px;
}

#dj-button .left {
  background: linear-gradient(135deg, var(--gradient-1) 0%,var(--gradient-2) 100%);
  border-radius: 5px 0 0 5px;
}

#woot {
  border-radius: 5px 0 0 5px;
}

#meh {
  border-radius: 0 5px 5px 0;
}

#vote .crowd-response {
  background-color: var(--transparent-back);
}

#vote .crowd-response.disabled .bottom {
  background-color: var(--main-black);
  border-radius: 5px;
}

#vote .crowd-response.selected {
  box-shadow: inset 0 0 0 rgba(0,0,0,0.0)
}

#woot .bottom, #grab .bottom, #meh .bottom {
  background: rgba(0,0,0,0);
}

#woot .bottom, #woot.selected {
  background-color: var(--woot);
}

#grab .bottom, #grab.selected {
  background-color: var(--grab);
}

#meh .bottom, #meh.selected {
  background-color: var(--meh);
}

#vote .crowd-response {
  margin-right: 0px;
}

/* User roller */

#user-rollover .meta.online {
  background-color: rgba(0,0,0,0.0) !important;
}

#user-rollover .info {
  background: linear-gradient(135deg, var(--gradient-1) 0%,var(--gradient-2) 100%);
}

#user-rollover {
  background-color: var(--main-black) !important;
}

#user-rollover .arrow-down {
  display: none;
}

#user-rollover .info .role span {
  color: #fff !important;
}

.badge-box {
  background: rgba(0,0,0,0);
}

/* Chat */

#chat-messages {
  border-bottom: 0px;
}
