/* Developeři Stylu - Perk xD | Diník */
#user-rollover.id-5383370 .username, #chat [data-cid^="5383370"] span.un.clickable,
#user-rollover.id-4664447 .username, #chat [data-cid^="4664447"] span.un.clickable {
  animation:rainbow 3s infinite;
}
@keyframes rainbow {
  0% {color: #f600ff;}
  50% {color: #008cff;}
  100% {color: #f600ff;}
}
/* End Developeři Stylu - Perk xD | Diník */

/* Footer */
#footer {
	background: rgba(0, 0, 0, 0.65);
}
#playlist-button {
    background: linear-gradient(to bottom, #f600ff 0%,#008cff 100%);
}
.app-header {
	background: rgba(0, 0, 0, 0.65);
}
#rs-skip-button {
    background: transparent !important;
}
#history-button {
    background: transparent;
}
.header-panel-button.selected {
	background: linear-gradient(to bottom,transparent 0,rgba(61, 61, 61, 0.35) 100%);
}

/* Upravení tlačítek */

#dj-button {
  background-color: #202020;
  border-radius: 0px;
}

#dj-button .left {
  background: linear-gradient(135deg, #f600ff 0%,#008cff 100%);
  border-radius: 0px;
}

#woot, #meh, #grab {
  border-radius: 0px;
}

.response-disabled .bottom {
  background-color: #202020;
  border-radius: 0px;
}

#woot .selected, #grab .selected, #meh .selected {
  background: rgba(0,0,0,0);
}

#woot .selected {
  background-color: #2fff69;
}

#grab .selected {
  background-color: #8b18fe;
}

#meh .selected {
  background-color: #ed5565;
}

#vote .crowd-response {
  background-color: #202020;
  margin-right: 0px;
}

/* User roller */

#user-rollover .meta.online {
  background-color: rgba(0,0,0,0.0) !important;
}

#user-rollover .info {
  background: linear-gradient(135deg, #f600ff 0%,#008cff 100%);
}

#user-rollover {
  background-color: #141417 !important;
}

#user-rollover .arrow-down {
  display: none;
}
